@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body{
    display: flex;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
}

@import 'cards', 'form';

